<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Landing Page</a></li>
                <li><a href="/photographer/events">Events</a></li>
                <li><a href="/photographer/all-photographers">All Photographer</a></li>
            </ul>
        </nav>
    </header>


    <h1>Confirmation Message </h1>
    <p>Your requested to book a consult with <strong><%= photographer.name %></strong> has been sent.</p>
    <p><strong><%= photographer.name %></strong> will get in contact with you with in the next 24 to 48 hours.</p>
    <h3>Message Review</h3>
    <p>Clients Name: <%= oneBooking.name %></p>
    <p>Clients Phone: <%= oneBooking.phone %></p>
    <p>Clients Email: <%= oneBooking.email %></p>
    <p>Clients Vision Summary: <%= oneBooking.visionSummary %></p>


    <p>Thank you for booking using The Drop.</p>
     










    






</body>
</html>